<!DOCTYPE html>

<html>

<head>
    <title>My Stock Website</title>
    <link rel="icon" href="/images/icon.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="signupBox">
        <button type="submit" onclick="getSignupPage()">Sign Up!</button>
    </div>
    <div class="main-content">
        <form id='login'>
            <input type="email" id="loginEmail" placeholder="Enter Your Mail" autocomplete="off"><br>
            <input type="password" id='loginPassword' placeholder="Enter Your Password"><br>
            <input type="checkbox" onclick="showPass()">Show Password<br>
            <button type="submit">Login!</button>
        </form>
    </div>
    <script src = './js/login.js'></script>
</body>

</html>