<!DOCTYPE html>

<html>

<head>
    <title>My Stock Website</title>
    <link rel="icon" href="/images/icon.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="logoutBox">
        <button type="submit" onclick="logout()">Logout</button>
    </div>
    <div class="main-content">
        <form id="stockPurchaseForm">
            <input id='stockName' placeholder="Enter Stock Name" autocomplete="off">
            <input id='noStocks' placeholder='No. of Stocks; Default: 3'></button>
        </form>

        <ul id="probableStocks"></ul>
    </div>
    <script src = './js/app.js'></script>
</body>

</html>